<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="UserNo" value="AT05031313"/>
		<add key="UserPwd" value="050432"/>
		<add key="LoginServiceUrl" value="http://211.144.78.162:8802/PupilWeb/logging/LoginUser.aspx"/>
		<add key="LoginServiceRndUrl" value="http://211.144.78.162:8802/PupilWeb/logging/Rnd.aspx"/>
		<add key="LoginServicePostUrl" value="http://211.144.78.162:8802/PupilWeb/logging/LoginUser.aspx"/>
		<add key="DriveServiceGetUrl" value="http://211.144.78.162:8802/PupilWeb/logging/BookingCarStudy.aspx"/>
		<add key="DriveServiceQueryUrl" value="http://211.144.78.162:8802/PupilWeb/logging/BookingCarStudy.aspx"/>
    <add key="DriveServicePostUrl" value="http://211.144.78.162:8802/PupilWeb/logging/BookingCNStudy.aspx"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
